@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.calculator-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  width: 30em;
  border: 1px solid black;
}

.title-banner {
  background-color: orange;
  padding: 1em;
  margin: 0.5em;
}

.container {
  display: flex;
  font-family: 'Orbitron', sans-serif;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 1em;
  align-self: flex-end;
  background-color: chocolate;
  color: aqua;
}

.footer a {
  margin-left: 1em;
  text-decoration: none;
  color: beige;
}