@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.button {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    padding: 0.5em;
    margin: 0.5em 0.5em 0.5em 0;
    background-color: black;
    color: white;
}

.operator-buttons {
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;
    background-color: orange;
    color: brown;
}